/**
 * Config template file
 *
 * Create a copy called config.js and provide real values.
 */

let config = {
    database: {
        host: "/var/run/postgresql",
        port: 5432,
        user: "cadastre",
        database: "cadastre"
    },
    server: {
        port: 3000
    }
};

export default config;
